@use '../../styles/paletteVariables' as palette;
@use '../../styles/generalVariables' as variables;

.root{
    position: relative;
    border-radius: variables.$primary-border-radius;
    border: 2px solid palette.$primary-border;
    min-width: 250px;
    cursor: pointer;
    transition: 100ms;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;

    &__input{
        flex:1;
        border: none;
        outline: none;
        font-size: 0.9rem;
        color: palette.$primary-content;
        box-shadow: none!important;
        padding: 10px;  
        cursor: pointer;
}
    
    &__input::placeholder{
        color: palette.$primary-content-light
    }

    &__arrowIcon{
        color: palette.$primary-content-light;
        font-size: 24px;
        cursor: pointer;
        transition: 200ms;
        width: 30px;
        &--rotate{
            transform: rotate(180deg);
        }
    }

    &--focused{
        box-shadow: 0 0 6px palette.$secondary-content;
        border-color:  palette.$secondary-content-dark;
        border-width: 2px;
    }
}



