@use '../../styles/paletteVariables' as palette;
@use '../../styles/generalVariables' as variables;

.root{

    position: relative;

    &__input{
        border-radius: variables.$primary-border-radius;
        padding: 10px 30px 10px 10px;    
        border: 1px solid rgb(197, 197, 197);
        outline: none;
        min-width: 150px;
        font-size: 0.9rem;
        color: palette.$primary-content;
        cursor: pointer;
        transition: 100ms;

    }
    
    &__input::placeholder{
        color: palette.$primary-content-light
    }
    
    &__input:focus{
        box-shadow: 0 0 6px  #D6E1FF;
        border-color:  #8A99DB;
        border-width: 2px;
    }

    &__input:focus + &__arrowIcon{
        transform: rotate(180deg);
    }

    &__arrowIcon{
        position: absolute;
        color: palette.$primary-content-light;
        right: 10px;
        top: 8px;
        margin: auto;
        font-size: 24px;
        cursor: pointer;
        transition: 200ms;
    }
}