@use "sass:color";

$primary-content: #838689;
$primary-content-light: color.adjust($primary-content, $lightness: 15%);
$primary-content-dark: color.adjust($primary-content, $lightness: -15%);

$primary-border: rgb(197, 197, 197);
$primary-border-light: #EEEEEE;

$secondary-content: #C2CAF7;
$secondary-content-light: #F1F4FF;
$secondary-content-dark: #8291C9